<!DOCTYPE html>
<html ng-app="cdde">

<head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../img/pen.png">

    <title>CDD Editor</title>

    <link rel="stylesheet" href="main.style.css" />

</head>

<body ng-controller="mainController as vm">

    <div class="view-element" id="drawing" ng-controller="drawingController as vm" ng-keypress="vm.deleteObject($event)">
        <p>{{vm.db}}</p>
        <canvas style="border: 2px solid;" height="485" width="632" id="board" ng-keyup="vm.deleteObject()"></canvas>
        <li style="margin-top:10px;">
            <label for="drawing-mode-selector">Mode:</label>

            <select id="drawing-mode-selector" ng-model="vm.drawingTool" ng-options="item for item in vm.modes" ng-change=""></select>

            <button ng-hide="vm.drawingTool === 'Pencil'" ng-click="vm.createObject()"> + </button>

            <button ng-click="vm.clear()">Clear</button>

            <button ng-click="vm.deleteObject()">Delete Selected</button>

            <button id="drawing-mode" class="btn btn-info" ng-click="vm.toggleDrawing()">{{vm.btnModeText}}</button>

            <div ng-show="vm.drawingTool === 'Pencil'" id="drawing-mode-options">
                <br/>
                <label for="drawing-line-width">Line width:</label>
                <input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>
                <label for="drawing-color">Line color:</label>
                <input type="color" value="#005E7A" id="drawing-color">
                <br/>
                <label for="drawing-shadow-width">Line shadow width:</label>
                <input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>
            </div>
        </li>
    </div>

    <div class="view-element" id="rendering" ng-controller="renderingController as vm">
        <p>{{vm.rd}}</p>
        <button ng-click="vm.addObject()">Add</button>
    </div>

    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/threejs/build/three.min.js"></script>
    <script type="text/javascript" src="../bower_components/fabric/dist/fabric.min.js"></script>

    <script type="text/javascript" src="../libs/OrbitControls.js"></script>

    <script type="text/javascript" src="main.module.js"></script>

    <script type="text/javascript" src="fabric.factory.js"></script>
    <script type="text/javascript" src="fabric.service.js"></script>

    <script type="text/javascript" src="three.factory.js"></script>
    <script type="text/javascript" src="three.service.js"></script>

    <script type="text/javascript" src="main.controller.js"></script>
    <script type="text/javascript" src="drawing.controller.js"></script>
    <script type="text/javascript" src="rendering.controller.js"></script>

    <script type="text/javascript" src="main.service.js"></script>

</body>

</html>
