<!DOCTYPE html>
<html ng-app="cdde">

<head>

    <meta charset="utf-8" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../libs/Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="../libs/Skeleton-2.0.4/css/skeleton.css">

    <link rel="icon" type="image/png" href="../img/pen.png">

    <title>CDDE</title>

    <link rel="stylesheet" href="main/main.style.css" />

</head>

<body ng-controller="mainController as app">

    <div class="row">
        <div class="six columns view-element" id="drawing" ng-controller="drawingController as vm" ng-keydown="vm.deleteObject($event)">
            <p>{{vm.db}}</p>
            <canvas style="border: 2px solid;" height="350" width="560" id="board" ng-keydown="vm.deleteObject($event)"></canvas>

            <label for="drawing-mode-selector">Mode:</label>
            <input value="submit input" type="color" name="favcolor" value="#ff0000" ng-model="vm.objectColor">
            <select id="drawing-mode-selector" ng-model="vm.drawingTool" ng-options="item for item in vm.modes" ng-change=""></select>

            <button class="button-primary" ng-hide="vm.drawingTool === 'Pencil'" ng-click="vm.createObject()">Add</button>

            <button ng-click="vm.clear()">Clear</button>

            <button ng-click="vm.deleteObject()">Delete Selected</button>

            <button id="drawing-mode" class="btn btn-info" ng-click="vm.toggleDrawing()">{{vm.btnModeText}}</button>
            <button ng-click="vm.downloadImage()">Export as image</button>

        </div>

        <div class="six columns view-element" id="rendering" ng-controller="renderingController as vm">
            <p>{{vm.rd}}</p>
            <div id="3dCanvas" style="margin-bottom:5px"></div>
            <button class="button-primary" ng-click="vm.addObject()">Transform</button>
        </div>

    </div>

    <div class="row">
        <button ng-click="app.downloadJSON()">Export Project</button>
    </div>

    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/three/build/three.min.js"></script>
    <script type="text/javascript" src="../node_modules/fabric/dist/fabric.js"></script>

    <script type="text/javascript" src="../libs/OrbitControls.js"></script>

    <script type="text/javascript" src="main/main.module.js"></script>

    <script type="text/javascript" src="drawing/fabric.factory.js"></script>
    <script type="text/javascript" src="drawing/fabric.service.js"></script>

    <script type="text/javascript" src="rendering/three.factory.js"></script>
    <script type="text/javascript" src="rendering/three.service.js"></script>

    <script type="text/javascript" src="main/main.controller.js"></script>
    <script type="text/javascript" src="drawing/drawing.controller.js"></script>
    <script type="text/javascript" src="rendering/rendering.controller.js"></script>

    <script type="text/javascript" src="main/main.service.js"></script>

</body>

</html>
